products/ai-workflow-packs/workflows/01-lead-capture-ai-scoring.json
{
  "meta": {
    "templateCreatedBy": "AI Workflow Packs",
    "templateId": "lead-capture-ai-scoring-v1"
  },
  "name": "01 - Lead Capture → CRM + AI Scoring",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-capture",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4001-8001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Normalize incoming form fields — handles Typeform, custom forms, or direct API calls\nconst body = $input.item.json.body || $input.item.json;\n\nreturn {\n  json: {\n    name: body.name || body.full_name || body.respondent_name || 'Unknown',\n    email: body.email || body.email_address || '',\n    company: body.company || body.company_name || body.organization || '',\n    role: body.role || body.job_title || body.title || '',\n    message: body.message || body.notes || body.comment || '',\n    phone: body.phone || body.phone_number || '',\n    source: body.utm_source || body.source || 'direct',\n    raw: body\n  }\n};"
      },
      "id": "a1b2c3d4-0001-4001-8001-000000000002",
      "name": "Normalize Lead Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\n  model: 'gpt-4o-mini',\n  messages: [\n    {\n      role: 'system',\n      content: 'You are a B2B lead scoring expert. Score leads 1-10 based on: company size signals, role seniority, message intent/urgency, and email domain quality. Return ONLY valid JSON: {\"score\": number, \"tier\": \"hot|warm|cold\", \"reasoning\": \"one sentence\", \"next_action\": \"specific suggested follow-up action\"}'\n    },\n    {\n      role: 'user',\n      content: 'Score this lead:\\nName: ' + $json.name + '\\nEmail: ' + $json.email + '\\nCompany: ' + $json.company + '\\nRole: ' + $json.role + '\\nMessage: ' + $json.message\n    }\n  ],\n  response_format: { type: 'json_object' },\n  max_tokens: 200\n}) }}"
      },
      "id": "a1b2c3d4-0001-4001-8001-000000000003",
      "name": "Score Lead with AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "OpenAI API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiResult = JSON.parse($input.item.json.choices[0].message.content);\nconst lead = $('Normalize Lead Data').item.json;\n\nreturn {\n  json: {\n    // Lead fields for Google Sheets columns\n    name: lead.name,\n    email: lead.email,\n    company: lead.company,\n    role: lead.role,\n    message: lead.message,\n    phone: lead.phone,\n    source: lead.source,\n    // AI scoring fields\n    ai_score: aiResult.score,\n    ai_tier: aiResult.tier,\n    ai_reasoning: aiResult.reasoning,\n    ai_next_action: aiResult.next_action,\n    // Metadata\n    captured_at: new Date().toISOString(),\n    date: new Date().toLocaleDateString('en-US'),\n    time: new Date().toLocaleTimeString('en-US')\n  }\n};"
      },
      "id": "a1b2c3d4-0001-4001-8001-000000000004",
      "name": "Parse AI Scoring",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.name }}",
            "email": "={{ $json.email }}",
            "company": "={{ $json.company }}",
            "role": "={{ $json.role }}",
            "message": "={{ $json.message }}",
            "phone": "={{ $json.phone }}",
            "source": "={{ $json.source }}",
            "ai_score": "={{ $json.ai_score }}",
            "ai_tier": "={{ $json.ai_tier }}",
            "ai_reasoning": "={{ $json.ai_reasoning }}",
            "ai_next_action": "={{ $json.ai_next_action }}",
            "captured_at": "={{ $json.captured_at }}"
          }
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4001-8001-000000000005",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1120, 180],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "YOUR_SLACK_CHANNEL_ID",
          "mode": "id"
        },
        "text": "={{ $json.ai_tier === 'hot' ? '🔥' : $json.ai_tier === 'warm' ? '🌡️' : '❄️' }} *New Lead — Score {{ $json.ai_score }}/10 ({{ $json.ai_tier.toUpperCase() }})*\n\n*{{ $json.name }}* — {{ $json.role }} @ {{ $json.company }}\n📧 {{ $json.email }}{{ $json.phone ? '  📞 ' + $json.phone : '' }}\n\n> {{ $json.message || '_No message provided_' }}\n\n*AI Reasoning:* {{ $json.ai_reasoning }}\n*Suggested Action:* {{ $json.ai_next_action }}\n\n_Captured via {{ $json.source }} at {{ $json.captured_at }}_",
        "otherOptions": {}
      },
      "id": "a1b2c3d4-0001-4001-8001-000000000006",
      "name": "Slack Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [1120, 420],
      "credentials": {
        "slackApi": {
          "id": "3",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"message\": \"Thank you! We'll be in touch shortly.\"}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a1b2c3d4-0001-4001-8001-000000000007",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Normalize Lead Data", "type": "main", "index": 0 }]
      ]
    },
    "Normalize Lead Data": {
      "main": [
        [{ "node": "Score Lead with AI", "type": "main", "index": 0 }]
      ]
    },
    "Score Lead with AI": {
      "main": [
        [{ "node": "Parse AI Scoring", "type": "main", "index": 0 }]
      ]
    },
    "Parse AI Scoring": {
      "main": [
        [
          { "node": "Save to Google Sheets", "type": "main", "index": 0 },
          { "node": "Slack Notification", "type": "main", "index": 0 }
        ]
      ]
    },
    "Save to Google Sheets": {
      "main": [
        [{ "node": "Send Response", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "id": "wf-lead-capture-ai-scoring-v1",
  "tags": ["lead-gen", "crm", "ai-scoring", "smb"]
}
