products/ai-workflow-packs/workflows/02-support-ticket-triage.json
{
  "meta": {
    "templateCreatedBy": "AI Workflow Packs",
    "templateId": "support-ticket-triage-v1"
  },
  "name": "02 - AI Support Ticket Triage",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [{ "mode": "everyMinute" }]
        },
        "filters": {
          "readStatus": "unread",
          "labelIds": ["INBOX"]
        },
        "options": {}
      },
      "id": "b1b2c3d4-0002-4002-8002-000000000001",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "4",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const email = $input.item.json;\n\n// Clean up email body — strip HTML tags and trim whitespace\nconst stripHtml = (str) => (str || '').replace(/<[^>]*>/g, ' ').replace(/\\s+/g, ' ').trim();\n\nreturn {\n  json: {\n    message_id: email.id,\n    thread_id: email.threadId,\n    subject: email.subject || '(no subject)',\n    from_email: email.from?.email || email.from || '',\n    from_name: email.from?.name || '',\n    body_text: stripHtml(email.text || email.snippet || '').substring(0, 1500),\n    date: email.date || new Date().toISOString(),\n    labels: email.labelIds || []\n  }\n};"
      },
      "id": "b1b2c3d4-0002-4002-8002-000000000002",
      "name": "Extract Email Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\n  model: 'gpt-4o-mini',\n  messages: [\n    {\n      role: 'system',\n      content: 'You are a customer support triage specialist. Analyze the support email and return ONLY valid JSON with these exact fields:\\n{\"category\": \"billing|bug|feature_request|question|complaint|other\",\"priority\": \"urgent|high|medium|low\",\"sentiment\": \"positive|neutral|negative|very_negative\",\"summary\": \"one sentence summary\",\"draft_reply\": \"a professional 2-3 sentence reply that acknowledges the issue and sets expectations\",\"internal_note\": \"brief note for the support team about what to investigate\"}\\nCategories:\\n- billing: invoices, payments, refunds, pricing\\n- bug: something is broken or not working\\n- feature_request: asking for new functionality\\n- question: how-to, clarification needed\\n- complaint: general dissatisfaction\\n- other: anything else'\n    },\n    {\n      role: 'user',\n      content: 'Triage this support email:\\n\\nFrom: ' + $json.from_name + ' <' + $json.from_email + '>\\nSubject: ' + $json.subject + '\\n\\nBody:\\n' + $json.body_text\n    }\n  ],\n  response_format: { type: 'json_object' },\n  max_tokens: 400\n}) }}"
      },
      "id": "b1b2c3d4-0002-4002-8002-000000000003",
      "name": "Classify Ticket with AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "OpenAI API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiResult = JSON.parse($input.item.json.choices[0].message.content);\nconst email = $('Extract Email Fields').item.json;\n\n// Map categories to Slack channels\nconst channelMap = {\n  billing: 'YOUR_BILLING_CHANNEL_ID',\n  bug: 'YOUR_BUGS_CHANNEL_ID',\n  feature_request: 'YOUR_PRODUCT_CHANNEL_ID',\n  question: 'YOUR_SUPPORT_CHANNEL_ID',\n  complaint: 'YOUR_SUPPORT_CHANNEL_ID',\n  other: 'YOUR_SUPPORT_CHANNEL_ID'\n};\n\nconst priorityEmoji = {\n  urgent: '🚨',\n  high: '🔴',\n  medium: '🟡',\n  low: '🟢'\n};\n\nconst sentimentEmoji = {\n  positive: '😊',\n  neutral: '😐',\n  negative: '😠',\n  very_negative: '😡'\n};\n\nreturn {\n  json: {\n    ...email,\n    category: aiResult.category,\n    priority: aiResult.priority,\n    sentiment: aiResult.sentiment,\n    summary: aiResult.summary,\n    draft_reply: aiResult.draft_reply,\n    internal_note: aiResult.internal_note,\n    slack_channel: channelMap[aiResult.category] || channelMap.other,\n    priority_emoji: priorityEmoji[aiResult.priority] || '⚪',\n    sentiment_emoji: sentimentEmoji[aiResult.sentiment] || '😐'\n  }\n};"
      },
      "id": "b1b2c3d4-0002-4002-8002-000000000004",
      "name": "Parse & Route",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $json.slack_channel }}",
          "mode": "id"
        },
        "text": "={{ $json.priority_emoji }} *New Support Ticket — {{ $json.priority.toUpperCase() }} / {{ $json.category.replace('_',' ').toUpperCase() }}* {{ $json.sentiment_emoji }}\n\n*From:* {{ $json.from_name || $json.from_email }} <{{ $json.from_email }}>\n*Subject:* {{ $json.subject }}\n\n*AI Summary:* {{ $json.summary }}\n\n*Internal Note:* {{ $json.internal_note }}\n\n*Draft Reply Ready* — see thread for suggested response.\n_Received: {{ $json.date }}_",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "b1b2c3d4-0002-4002-8002-000000000005",
      "name": "Route to Slack Channel",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [1120, 180],
      "credentials": {
        "slackApi": {
          "id": "3",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $('Parse & Route').item.json.slack_channel }}",
          "mode": "id"
        },
        "text": "💬 *Draft Reply for {{ $('Parse & Route').item.json.from_name || $('Parse & Route').item.json.from_email }}:*\n\n{{ $('Parse & Route').item.json.draft_reply }}\n\n_This is an AI draft — review and send manually, or edit before replying._",
        "replySettings": {
          "replyToMessageInThread": true
        },
        "otherOptions": {}
      },
      "id": "b1b2c3d4-0002-4002-8002-000000000006",
      "name": "Post Draft Reply",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [1340, 180],
      "credentials": {
        "slackApi": {
          "id": "3",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Extract Email Fields').item.json.message_id }}",
        "labelIds": ["Label_YOUR_TRIAGED_LABEL_ID"]
      },
      "id": "b1b2c3d4-0002-4002-8002-000000000007",
      "name": "Label as Triaged",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1120, 420],
      "credentials": {
        "gmailOAuth2": {
          "id": "4",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [{ "node": "Extract Email Fields", "type": "main", "index": 0 }]
      ]
    },
    "Extract Email Fields": {
      "main": [
        [{ "node": "Classify Ticket with AI", "type": "main", "index": 0 }]
      ]
    },
    "Classify Ticket with AI": {
      "main": [
        [{ "node": "Parse & Route", "type": "main", "index": 0 }]
      ]
    },
    "Parse & Route": {
      "main": [
        [
          { "node": "Route to Slack Channel", "type": "main", "index": 0 },
          { "node": "Label as Triaged", "type": "main", "index": 0 }
        ]
      ]
    },
    "Route to Slack Channel": {
      "main": [
        [{ "node": "Post Draft Reply", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "id": "wf-support-ticket-triage-v1",
  "tags": ["support", "triage", "ai", "gmail", "slack", "smb"]
}
